{% extends 'index.html' %}
{% load staticfiles %}

{% block main_content %}

    <!-- Main content -->
    <section class="content" id="loading">

      <!-- /.table -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">添加信息</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
            <!-- /.box-header -->
        <div class="box-body">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="sensor-id">传感器ID <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="sensor-id" id="sensor-id" value="" onblur="JudgeSensorIDExist()">
                        <p id="sensor-id-msg" style="color: red;"></p>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="alias">传感器名称 <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="alias" id="alias" value="" onblur="JudgeSensoraliasExist()">
                        <p id="alias-msg" style="color: red;"></p>
                    </div>
                </div>
                <div class="col-xs-3 col-md-2 col-md-offset-1">
                    <div class="form-group">
                        <label for="gateway">所在网关 <b style="color: red;">*</b></label>
                    {% if network_id == "new" %}
                        <select class="form-control select2" name="gateway" id="gateway" style="width: 100%;">
                    {% else %}
                        <select class="form-control select2" name="gateway" id="gateway" style="width: 100%;" disabled>
                    {% endif %}
                          {% for item in gateway_obj %}
                              <option value="{{ item.network_id }}">{{ item.name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-3 col-md-2">
                    <div class="form-group">
                        <label for="network_id">网络号 <b style="color: red;">*</b></label>
                        {% if network_id == "new" %}
                            <input type="text" class="form-control" name="network_id" id="network_id" value="" onblur="JudgeSensorNetworkIDExist()">
                            <p id="network_id_msg" style="color: red;"></p>
                        {% else %}
                            <input type="text" class="form-control" name="network_id" id="network_id" value="{{ network_id }}" disabled>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-3 col-md-2 col-md-offset-1">
                    <div class="form-group">
                        <label for="material">材料</label>
                        <select class="form-control select2" name="material" id="material" style="width: 100%;">
                          {% for item in material %}
                              <option value="{{ item.id }}">{{ item.name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-3 col-md-2">
                    <div class="form-group">
                        <label for="sound-V">声速</label>
                        <input type="text" class="form-control" name="sound-V" id="sound-V" value="" disabled>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="sensor_type">传感器类型</label>
                        <select class="form-control select2" name="sensor_type" id="sensor_type" style="width: 100%;">
                          {% for k, v in sensor_type.items %}
                              <option value="{{ v }}">{{ k }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="Importance">重要性</label>
                        <select class="form-control select2" name="Importance" id="Importance" style="width: 100%;">
                          {% for k, v in Importance.items %}
                              <option value="{{ v }}">{{ k }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="area">所在区域</label>
                        <input type="text" class="form-control" name="area" id="area" value="">
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="location">所在位置</label>
                        <input type="text" class="form-control" name="location" id="location" value="">
                    </div>
                </div>
                  <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="longitude">所在位置经度 <a href="https://lbs.amap.com/console/show/picker" target="_blank" style="opacity: 60%;">点击查找经纬度，不需要则填写0</a></label>
                        <input type="text" class="form-control" name="longitude" id="longitude" value="{{ longitude }}">
                    </div>
                </div>
                  <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="latitude">所在位置纬度 <a href="https://lbs.amap.com/console/show/picker" target="_blank" style="opacity: 60%;">点击查找经纬度，不需要则填写0</a></label>
                        <input type="text" class="form-control" name="latitude" id="latitude" value="{{ latitude }}">
                    </div>
                </div>
                  <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="assembly_crewman">安装人员</label>
                        <input type="text" class="form-control" name="assembly_crewman" id="assembly_crewman" value="">
                    </div>
                </div>
                  <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="description">描述</label>
                        <textarea style="height: 80px; width: 100%;" name="description" id="description" value=""></textarea>
                    </div>
                </div>
                  <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="location_img_path">所在位置图片</label>
                        <div style="position: relative">
                            <img id="exist-img-path" src="" alt="" style="display: inline-block">
                            <input type="file" name="location_img_path" id="location_img_path" style="display: inline-block">
                        </div>
                    </div>
                </div>
              </div>
            <!-- /.col -->
              <div class="row">
                <h4 class="col-xs-6 col-md-4 col-md-offset-1">设置传感器采样时间（必填项）<b style="color: red;">*</b></h4>
              </div>
              <div class="row">
                <div class="col-xs-4 col-md-3 col-md-offset-1">
                    <div class="form-group">
                        <label for="days">天：</label>
                        <select class="form-control select2" name="days" id="days" style="width: 100%;">
                          {% for item in context.day_interval %}
                              <option value="{{ item }}">{{ item }}</option>
                          {% endfor %}
                        </select>
                    </div>
                      <!-- /.form-group -->
                </div>
                <div class="col-xs-4 col-md-3">
                    <div class="form-group">
                        <label for="hours">小时：</label>
                        <select class="form-control select2" name="hours" id="hours" style="width: 100%;">
                          {% for item in context.hour_interval %}
                              <option value="{{ item }}">{{ item }}</option>
                          {% endfor %}
                        </select>
                    </div>
                      <!-- /.form-group -->
                </div>
                <div class="col-xs-4 col-md-3">
                    <div class="form-group">
                        <label for="minutes">分钟：</label>
                        <select class="form-control select2" name="minutes" id="minutes" style="width: 100%;">
                          {% for item in context.minute_interval %}
                              <option value="{{ item }}">{{ item }}</option>
                          {% endfor %}
                        </select>
                    </div>
                      <!-- /.form-group -->
                </div>
              </div>
            <!-- /.col -->
            <div class="row">
                <div class="col-md-3 col-md-offset-5">
                  <div class="form-group" style="margin-top: 10px">
                      <span id="add_sensor" style="color: red;"></span>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                      <button type="button" class="btn btn-success" onclick="AddSave()">保存</button>
                  </div>
                </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box -->
    </div>
    </section>

{% endblock %}

{% block script %}

    <script>

        $(function () {
            $('.select2').select2();

            // 当材料被选中时，显示其对应的声速
            $('#material').on("select2:select", function (e) {
                SelectToShowSoundV();
            });
            if ("{{ network_id }}" === 'new'){
                ShowSoundV({{ material.0.id }});
            }else{
                ShowSoundV({{ sensor_obj.material }});
            }

            // 当网关被选中时，显示其对应的网关前缀
            $('#gateway').on("select2:select", function (e) {
                SelectToShowGatewayPrefix();
             });

            // 显示网关前缀或者gwntid
            if ("{{ network_id }}" === 'new'){
                ShowGatewayPrefix("{{ gateway_obj.0.network_id }}");
            }else{
                $('#gateway').select2("val", ["{{ gwntid }}"])
            }

            // 重新添加传感器的时候不触发JudgeSensorNetworkIDExist()
             sensor_sensor_id_exist = false;
             sensor_alias_exist = false;
            if ("{{ network_id }}" === 'new'){
                sensor_network_id_exist = 2;
            }else{
                sensor_network_id_exist = false;
            }


        });

        function AddSave() {
            ShowLoading();
            {# $('#add_sensor').html('命令已加入队列，请稍等...');#}

            var fd = new FormData();

            var sensor_id = $('#sensor-id').val();
            var alias = $('#alias').val();
            var network_id = $('#network_id').val();
            var sensor_type = $('#sensor_type').val();
            var Importance = $('#Importance').val();
            var material = $('#material').val();
            var area = $('#area').val();
            var location = $('#location').val();
            var longitude = $('#longitude').val();
            var latitude = $('#latitude').val();
            var assembly_crewman = $('#assembly_crewman').val();
            var location_img_obj = $('#location_img_path')[0].files[0];
            var description = $('#description').html();
            var days = $('#days').val();
            var hours = $('#hours').val();
            var minutes = $('#minutes').val();
            var received_time_data = {'days': days, 'hours': hours, 'minutes': minutes};
            var exist_img_path = '';
            var data = JSON.stringify({'received_time_data': received_time_data, 'sensor_id': sensor_id, 'alias': alias,
                'network_id': network_id, 'choice': 'add', 'sensor_type': sensor_type, 'Importance': Importance, 'material': material,
                'area': area, 'location': location, 'latitude': latitude, 'longitude': longitude, 'assembly_crewman': assembly_crewman,
                'exist_img_path': exist_img_path, 'description': description});
            fd.append('location_img_obj', location_img_obj);
            fd.append('data', data);

            if (location_img_obj) {
                $('#add_sensor').html('正在压缩上传图片，请稍等...');
            }

            if (received_time_data.days === '0' && received_time_data.hours === '0' && received_time_data.minutes === '0') {
                $('#add_sensor').html('时间不合法！');
            } else if (received_time_data.days === '0' && parseInt(received_time_data.hours) <= 11 && parseInt(received_time_data.minutes) <= 59){
                $('#add_sensor').html('时间不能小于12小时！');
            } else if(sensor_id === ""){
                $('#add_sensor').html('传感器ID不能为空！');
            } else if(alias === ""){
                $('#add_sensor').html('传感器名称不能为空！');
            } else if(network_id === ""){
                $('#add_sensor').html('传感器网络号不能为空！');
            } else if(sensor_sensor_id_exist){
                $('#add_sensor').html('传感器ID已存在！');
            }  else if(sensor_alias_exist){
                $('#add_sensor').html('传感器名称已存在！');
            } else if(sensor_network_id_exist === 1){
                $('#add_sensor').html('传感器网络号已存在！');
            } else if(sensor_network_id_exist === 2){
                $('#add_sensor').html('传感器网络号格式有误！');
            } else{
                {#var gwntid = network_id.split('.').slice(0, 3).join('.') + '.0';#}
                {#SetTimeToShowTimeOutMSG("add_sensor", gwntid);#}
                $.ajax({
                    url: '/GWS/send-server-data',
                    type:'POST',
                    data: fd,
                    processData: false,
                    contentType: false,
                    success:function (arg) {
                        $('#add_sensor').text(JSON.parse(arg).msg);
                    }
                })
            }
            $('#loading').busyLoad("hide");
        }

        function JudgeSensorIDExist() {
            var sensor_id = $('#sensor-id').val();
            $.ajax({
                url: '/GWS/judge-sensor-id-exist-json',
                data: {'sensor_id': sensor_id, 'previous_sensor_id': "{{ previous_sensor_id }}"},
                type: 'POST',
                dataType: 'JSON',
                success: function (arg) {
                    sensor_sensor_id_exist = arg.status;
                    $('#sensor-id-msg').html(arg.msg)
                }
            })
        }

        function JudgeSensoraliasExist() {
            var alias = $('#alias').val();
            $.ajax({
                url: '/GWS/judge-sensor-name-exist-json',
                data: {'alias': alias, 'previous_alias': "{{ previous_alias }}"},
                type: 'POST',
                dataType: 'JSON',
                success: function (arg) {
                    sensor_alias_exist = arg.status;
                    $('#alias-msg').html(arg.msg)
                }
            })
        }

        function JudgeSensorNetworkIDExist() {
            var network_id = $('#network_id').val();
            $.ajax({
                url: '/GWS/judge-sensor-ntid-exist-json',
                data: {'network_id': network_id},
                type: 'POST',
                dataType: 'JSON',
                success: function (arg) {
                    sensor_network_id_exist = arg.status;
                    $('#network_id_msg').html(arg.msg)
                }
            })
        }

        // 选中材料显示声速
        function SelectToShowSoundV() {
            var selected_material_id = $('#material').val();
            ShowSoundV(selected_material_id);
        }

        // 显示声速
        function ShowSoundV(selected_material_id) {
            $.ajax({
                url: '/GWS/show-soundV-json',
                data: {'selected_material_id': selected_material_id},
                type: 'POST',
                dataType: 'JSON',
                success: function (arg) {
                    var soundV = arg['soundV'];
                    $('#sound-V').val(soundV + 'm/s');
                }
            })
        }

        // 选中网关显示网关前缀
        function SelectToShowGatewayPrefix() {
            var selected_gwntid = $('#gateway').val();
            ShowGatewayPrefix(selected_gwntid);
        }

        // 显示网关前缀
        function ShowGatewayPrefix(selected_gwntid) {
            var lastIndex = selected_gwntid.lastIndexOf('.');
            var gateway_prefix = selected_gwntid.slice(0, lastIndex);
            $('#network_id').val(gateway_prefix + '.x');

        }

    </script>

{% endblock %}








