{% extends 'index.html' %}
{% load staticfiles %}

{% block main_content %}

    <!-- Main content -->
    <section class="content">

      <!-- /.table -->
      <div class="box box-solid box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">报警信息</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
            <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped table-hover" style="width: 100%;">
                <thead>
                    <tr>
                        <th>名&nbsp;称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>报&nbsp;警&nbsp;信&nbsp;息&nbsp;</th>
                        <th>报&nbsp;警&nbsp;值&nbsp;</th>
                        <th>当&nbsp;前&nbsp;值&nbsp;</th>
                        <th>报&nbsp;警&nbsp;时&nbsp;间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>网&nbsp;络&nbsp;号&nbsp;&nbsp;</th>
                        <th>数&nbsp;据&nbsp;详&nbsp;情&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                        {% for row in all_alarm_sensor_list %}
                            <tr>
                                {% for alias, item_val in row.items %}
                                    <td>{{ alias }}</td>
                                    {% for k, v in item_val.items %}
                                        {% if k == 'network_id' %}
                                            <td>{{ v }}</td>
                                            <td><a href="/GWS/sensor-data-info-{{ v }}" style="cursor: pointer;"><i class="fa fa-pencil"></i> 数据详情</a></td>
                                        {% else %}
                                            <td>{{ v }}</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


{% endblock %}

{% block script %}

    <script>

        $(function () {

            $('#example1').DataTable({
                order: [[ 4, "desc" ]], // 第3列倒序
                {#bAutoWidth: false,#}
                scrollX: true,          // 固定列
                fixedColumns: {
                        leftColumns: 1  // 固定第一列
                    },

            });


        });





    </script>

{% endblock %}

