{% extends 'index.html' %}
{% load staticfiles %}
{% load GWS_tags %}

{% block main_content %}

    <!-- Main content -->
    <section class="content">
        <div class="box-body">
            <div class="col-xs-6 col-md-2">
            <div class="form-group">
                <label for="corrosion-interval">腐蚀周期：</label>
                <select class="form-control" id="corrosion-interval">
                    <option value="0">全部</option>
                    <option value="30">1个月</option>
                    <option value="90">3个月</option>
                    <option value="180">6个月</option>
                    <option value="365">1年</option>
                </select>
            </div>
            </div>
            <div class="col-xs-6 col-md-2">
                <div class="form-group">
                    <label>&nbsp; </label>
                    <button type="submit" class="btn btn-primary" style="display: block" onclick="ConformCorrosionInterval()">确定</button>
                </div>
            </div>
        </div>

      <!-- /.table -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">传感器腐蚀速率</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped table-hover" style="width: 100%;">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>网络号</th>
                        <th>序列号</th>
                        <th>网关名称</th>
                        <th>材料</th>
                        <th>腐蚀速率（mm/年）</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in all_sensor_list %}
                        <tr>
                            <td><p style="width: 100px;">{{ row.alias }}</p></td>
                            <td><p>{{ row.sensor_id }}</p></td>
                            <td><p style="width: 70px;">{{ row.network_id }}</p></td>
                            <td><p style="width: 100px;">{{ row.gateway__name }}</p></td>
                            <td>
                                {% for material_item in material_list %}
                                    {% if material_item.id == row.material %}
                                        <p style="width: 80px;">{{ material_item.name }}</p>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><p style="width: 150px;">{{ row.corrosion_rate }}</p></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


{% endblock %}

{% block script %}
    <script>

    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2();

        $('#example1').DataTable({
            scrollX: true,          // 固定列
            fixedColumns: {
                    leftColumns: 1  // 固定第1列
                },
        });


        $('#corrosion-interval').val({{ request.session.days_interval }});

      });

        function ConformCorrosionInterval(){
            var days_interval = $('#corrosion-interval').val();
            console.log(days_interval);
            $.ajax({
                url: "/GWS/conform-corrosion-interval-json",
                type: "POST",
                data: {'days_interval': days_interval},
                dataType: "JSON",
                success:function (arg) {
                    if(arg.status){
                        window.location.reload();
                    }
                }
             })
        }





    </script>

{% endblock %}



