{% extends 'index.html' %}
{% load staticfiles %}
{% load GWS_tags %}

{% block main_content %}

    <!-- Main content -->
    <section class="content" id="loading">

    <!-- Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" onclick="ClearModalmsg()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="delModalLabel">删除警告</h4>
          </div>
          <div class="modal-body">
              <h4 style="color: red;" id="remove-alias"></h4>
              <h4 style="color: red;" id="remove_sensor"></h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="ClearModalmsg()" data-dismiss="modal">取消</button>
            <a onclick="Delete(forcedelete)" type="button" class="btn btn-primary">确认删除</a>
          </div>
        </div>
      </div>
    </div>

      <!-- /.table -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">传感器列表</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
            <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped table-hover" style="width: 100%;">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>序列号</th>
                        <th>网络号</th>
                        <th>绑定网关</th>
                        <th>重要性</th>
                        <th>电量</th>
                        <th>采样间隔</th>
                        <th>描述</th>
                        <th>运行状态</th>
                        <th>在线状态</th>
                        <th>数据详情</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in all_sensor_list %}
                        {% if row.delete_status == '1' %}
                            <tr style="color: #cdcdcd;">
                                <td><p style="width: 100px;">{{ row.alias }}</p></td>
                                <td>{{ row.sensor_id }}</td>
                                <td><p style="width: 70px;">{{ row.network_id }}</p></td>
                                <td><p style="width: 80px;">{{ row.gateway__name }}</p></td>
                                <td>
                                    {% for k, v in Importance.items %}
                                        {% if v == row.Importance %}
                                            <p style="width: 65px;">{{ k }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td><p style="width: 60px;">{{ row.battery }}</p></td>
                                <td>
                                    <p style="width: 80px;">
                                        {% render_run_time row.received_time_data %}
                                    </p>
                                </td>
                                <td><p style="overflow: auto; width: 150px; height: 60px;">{{ row.description }}</p></td>
                                <td>
                                    {% for k, v in sensor_run_status.items %}
                                            {% if v == 0 %}
                                                <p style="width: 80px;">{{ k }}</p>
                                            {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for k, v in sensor_online_status.items %}
                                            {% if v == 0 %}
                                                <p style="width: 80px;">{{ k }}</p>
                                            {% endif %}
                                    {% endfor %}
                                </td>
                                <td><a href="sensor-data-info-{{ row.network_id }}"><p style="width: 80px;"><i class="fa fa-eye"></i> 数据详情</p></a></td>
                                <td>
                                    <p style="overflow: auto; width: 130px;">
                                        <a href="{% url 'add_sensor' row.network_id %}">
                                            <i class="fa fa-plus fa-fw"></i>
                                            重新添加此传感器
                                        </a>
                                        |
                                        <b>此传感器已被删除</b>
                                        |
                                        <a href="" style="color: red;" onclick="ShowRemoveModal(this, forcedelete=true)" data-toggle="modal" data-target="#delModal">
                                            强制删除
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><p style="width: 100px;">{{ row.alias }}</p></td>
                                <td><p style="">{{ row.sensor_id }}</p></td>
                                <td><p style="width: 70px;">{{ row.network_id }}</p></td>
                                <td><p style="width: 100px;">{{ row.gateway__name }}</p></td>
                                <td>
                                    {% for k, v in Importance.items %}
                                        {% if v == row.Importance %}
                                            <p style="width: 65px;">{{ k }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td><p style="width: 60px;">{{ row.battery }}</p></td>
                                <td>
                                    <p style="width: 80px;">
                                        {% render_run_time row.received_time_data %}
                                    </p>
                                </td>
                                <td><p style="overflow: auto; width: 150px; height: 60px;">{{ row.description }}</p></td>
                                <td>
                                    {% for k, v in sensor_run_status.items %}
                                            {% if v == row.sensor_run_status and row.sensor_run_status == 1 %}
                                                <p style="color: green; font-weight: bolder; font-size: larger; width: 80px;">{{ k }}</p>
                                            {% elif v == row.sensor_run_status and row.sensor_run_status == 0 %}
                                                <p style="color: red; font-weight: bolder; font-size: larger; width: 80px;">{{ k }}</p>
                                            {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for k, v in sensor_online_status.items %}
                                            {% if v == row.sensor_online_status and row.sensor_online_status == 1 %}
                                                <p style="color: green; font-weight: bolder; font-size: larger; width: 80px;">{{ k }}</p>
                                            {% elif v == row.sensor_online_status and row.sensor_online_status == 0 %}
                                                <p style="color: red; font-weight: bolder; font-size: larger; width: 80px;">{{ k }}</p>
                                            {% endif %}
                                    {% endfor %}
                                </td>
                                <td><a href="sensor-data-info-{{ row.network_id }}"><p style="width: 80px;"><i class="fa fa-eye"></i> 数据详情</p></a></td>
                                <td>
                                    <p style="overflow: auto; width: 130px;">
                                        <a href="/GWS/edit-sensor-{{ row.sensor_id }}" onclick=";">
                                            编辑
                                        </a>
                                        |
                                        <a href="/GWS/edit-sensor-alarm-msg-{{ row.sensor_id }}" onclick=";">
                                                编辑报警信息
                                        </a>
                                        |
                                        <a href="/GWS/resume-sensor-{{ row.sensor_id }}" onclick="ShowLoading();">
                                                开通
                                        </a>
                                        |
                                        <a href="/GWS/pause-sensor-{{ row.sensor_id }}" onclick="ShowLoading();">
                                                禁用
                                        </a>
                                        |
                                        <a href="" style="color: #ffb14d;" onclick="ShowRemoveModal(this, forcedelete=false)" data-toggle="modal" data-target="#delModal">
                                                删除
                                        </a>
                                        |
                                        <a href="" style="color: red;" onclick="ShowRemoveModal(this, forcedelete=true)" data-toggle="modal" data-target="#delModal">
                                                强制删除
                                        </a>
                                    <p/>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


{% endblock %}

{% block script %}
    <script>

    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2();
        $('#example1').DataTable({
            order: [[ 2, "desc" ]], // 第3列倒序
            {#bAutoWidth: false,#}
            scrollX: true,          // 固定列
            fixedColumns: {
                    leftColumns: 1  // 固定第一列
                },

        });

      });


    function ShowRemoveModal(ths, forcedelete) {
        sensor_id = $(ths).parent().parent().parent().children().eq(1).text();
        network_id = $(ths).parent().parent().parent().children().eq(2).text();
        var remove_alias = $(ths).parent().parent().parent().children().eq(0).text();
        if (forcedelete) {
            $('#remove-alias').html('强制删除 ' + remove_alias + '（同时删除其采集到的数据）')
        }else{
            $('#remove-alias').html('删除 ' + remove_alias + '（保留其采集到的数据）')
        }
    }

    function ClearModalmsg() {
        $('#remove_sensor').html('');
    }

    // 删除传感器
        function Delete(forcedelete) {
            {#ShowLoading();#}

            var fd = new FormData();
            var location_img_obj = '';
            var exist_img_path = '';
            var data = JSON.stringify({'sensor_id': sensor_id, 'network_id': network_id, 'exist_img_path': exist_img_path,
                'choice': 'remove', 'forcedelete': forcedelete});
            fd.append('location_img_obj', location_img_obj);
            fd.append('data', data);

            var gwntid = network_id.split('.').slice(0, 3).join('.') + '.0';
            SetTimeToShowTimeOutMSG("remove_sensor", gwntid);

            $.ajax({
                url: "/GWS/send-server-data",
                type:'POST',
                data: fd,
                processData: false,
                contentType: false,
                success:function (arg) {
                    var args = JSON.parse(arg);
                    console.log(args);
                    $('#loading').busyLoad("hide");
                    $('#remove_sensor').html(args.msg);
                    if (args.status){
                        ClearRemoveMSG('#remove_sensor');
                    }

                }
            })
        }


    //清除提示信息
    function ClearRemoveMSG(ele_id) {
        setTimeout(function () {
            $(ele_id).text('');
            window.location.reload();
        }, 1500);
    }




    </script>

{% endblock %}



