{% extends 'index.html' %}
{% load staticfiles %}

{% block main_content %}

    <section class="content">

      <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">{{ request.user }}个人信息</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

          <form class="form-horizontal" action="" method="post">
              <div class="box-body col-md-6">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
                  <div class="col-sm-5">
                    {{ form.name }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">角色</label>

                  <div class="col-sm-5">
                    {{ form.role }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">最近登录时间</label>

                  <div class="col-sm-5">
                    {{ form.last_login }}
                  </div>
                </div>
                  <div class="form-group">
                    <a class="btn btn-info col-md-offset-1 col-xs-offset-1" href="/GWS/change-pwd">修改密码</a>
                    <a href="javascript:history.go(-1);" type="submit" class="btn btn-default col-md-offset-4">返回</a>
                  </div>

              </div>
              <!-- /.box-body -->
              <div class="form-group">

              </div>
              <!-- /.box-footer -->
            </form>

{#            <form class="" action="" method="POST">#}
{#              <div class="box-body">#}
{#                  <div class="row">#}
{#                      <div class="col-md-6">#}
{#                          <label>name</label>#}
{#                          {{ form.name }}#}
{#                      </div>#}
{#                  </div>#}
{#                  <div class="row">#}
{#                      <div class="col-md-6">#}
{#                          <label>role</label>#}
{#                          {{ form.role }}#}
{#                      </div>#}
{#                  </div>#}
{#                  <div class="row">#}
{#                      <div class="form-group col-md-6">#}
{#                          <label>last_login</label>#}
{#                          {{ form.last_login }}#}
{#                      </div>#}
{#                  </div>#}
{##}
{#                  <div class="row">#}
{#                      <div class="form-group col-md-offset-1 col-xs-offset-1">#}
{#                        <a class="btn btn-info" href="/GWS/change-pwd">修改密码</a>#}
{#                        <a href="javascript:history.go(-1);" type="submit" class="btn btn-default col-md-offset-4">返回</a>#}
{#                    </div>#}
{#                  </div>#}
{##}
{#              </div>#}
{#              <!-- /.box-body -->#}
{#              <div class="form-group">#}
{##}
{#              </div>#}
{#              <!-- /.box-footer -->#}
{#            </form>#}

          </div>


    </section>


{% endblock %}

{% block script %}
    <script>



    </script>

{% endblock %}

