{% extends 'index.html' %}
{% load staticfiles %}

{% block main_content %}
    <section class="content">

      <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">编辑用户</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                <form method="post">{% csrf_token %}
                        <div class="col-xs-12 col-md-6 col-md-offset-1">
                            <div class="form-group">
                                <label for="name">用户名</label>
                                <input type="text" class="form-control" name="name" id="name" value="{{ cur_name }}" onblur="CheckNameExist()">
                                <p id="name-msg" style="color: red;"></p>
                            </div>
                        </div>
                        <div  class="col-xs-12 col-md-6 col-md-offset-1">
                            <div class="form-group">
                                <label for="role">角色</label>
                                <select name="role" id="role" class="form-control" multiple="multiple" >
                                    {% for role_item in roles_obj %}
                                        <option value="{{ role_item.id }}">{{ role_item.name }}</option>
                                    {% endfor %}
                                </select>
                                <p id="role-msg" style="color: red;"></p>
                            </div>
                        </div>
                        <div  class="col-xs-12 col-md-6 col-md-offset-1">
                            <div class="form-group">
                                <label for="groups">权限组</label>
                                <select name="groups" id="groups" class="form-control" multiple="multiple" onclick="GetPermission(this)">
                                    {% for group_item in groups_obj %}
                                        <option value="{{ group_item.id }}">{{ group_item.name }}</option>
                                    {% endfor %}
                                </select>
                                <p id="groups-msg" style="color: red;"></p>
                            </div>
                        </div>
                        <div  class="col-xs-12 col-md-6 col-md-offset-1">
                            <div class="form-group">
                                <label for="user_permissions">用户权限</label>
                                <select name="user_permissions" id="user-permissions" class="form-control" multiple="multiple" style="height: 150px;">
                                    {% for user_permissions_item in cur_user_all_permissions_list %}
                                        <option value="{{ user_permissions_item.permissions__id }}">{{ user_permissions_item.permissions__name }}</option>
                                    {% endfor %}
                                </select>
                                <p id="user-permissions-msg" style="color: red;"></p>
                            </div>
                        </div>
                        {% if not gateway_obj %}
                            <div class="col-xs-12 col-md-6 col-md-offset-1">
                                <div class="form-group">
                                    <label for="company">所在公司</label>
                                    <input type="text" class="form-control" name="company" id="company" value=""  onblur="GetGateway()">
                                </div>
                            </div>
                        {% endif %}
                        <div  class="col-xs-12 col-md-6 col-md-offset-1">
                            <div class="form-group">
                                <label for="gateway">网关</label>
                                <select name="gateway" id="gateway" class="form-control" multiple="multiple" >
                                    {% for gateway_item in gateway_obj %}
                                        <option value="{{ gateway_item.id }}">{{ gateway_item.name }}</option>
                                    {% endfor %}
                                </select>
                                <p id="gateway-msg" style="color: red;"></p>
                            </div>
                        </div>

                        <!-- Prevent the enterprise root user from setting himself / herself as non login -->

                        <div class="col-xs-12 col-md-6 col-md-offset-1">
                            <div class="form-group">
                                <label for="is_active">允许登录</label>
                                <input type="checkbox" name="is_active" id="is_active" class="flat-green">
                            </div>
                        </div>

                        <div  class="col-xs-12 col-md-6 col-md-offset-1">
                            <div class="form-group">
                                <a style="cursor: pointer" class="btn btn-danger col-md-offset-2" href="{% url 'user_delete' nid %}">删除</a>
                                <button type="button" class="btn btn-info col-md-offset-6" onfocus="JudgeNotNULL(this)">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
          </div>

    </section>
{% endblock %}

{% block script %}
<script>

    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2();

        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-green').iCheck({
            checkboxClass: 'icheckbox_flat-green',
        });

        // 初始化name_exist_edit
        name_exist_edit = false;

        //刷新页面后显示原来的值
        ShowOriginData();


    });

    function ShowOriginData() {

        var is_active = '{{ is_active }}';
        if (is_active === 'True') {
            $('#is_active').iCheck('check');
         }

        $('#role').val({{ role_list }});
        $('#gateway').val({{ gateway_list }});
        $('#groups').val({{ group_list }});
        $('#user-permissions').val({{ selected_user_permissions_list }});

    }

    function GetPermission(ths) {
        var groups_list = $(ths).val();
        $.ajax({
            url: '/GWS/get-user-permissions-json',
            data: {'groups_list': JSON.stringify(groups_list)},
            type: 'POST',
            dataType: 'JSON',
            success: function (arg) {
                $('#user-permissions').val(arg);

            }
        });
    }


    function CheckNameExist() {
        var name = $('#name').val();
        $.ajax({
            url: '/GWS/judge-username-exist-json',
            data: {'name': name, 'previous_name': "{{ cur_name }}"},
            type: 'POST',
            dataType: 'JSON',
            success: function (arg) {
                name_exist_edit = arg.status;
                $('#name-msg').html(arg.msg)
            }
        })
    }

    function GetGateway() {
        var company_name = $("#company").val();
        $.ajax({
            url: '/GWS/get-gateways-json',
            data: {'company_name': company_name},
            type: 'POST',
            dataType: 'JSON',
            success: function (arg) {
                $('#gateway').html(arg);

            }
        });
    }

    // 判断是否有未填写的选项
    function JudgeNotNULL(ths) {

        if ($('#role').val()[0]){
            $('#role-msg').html("");
        }else{
            $('#role-msg').html("角色不能为空！");
        }
        if ($('#groups').val()[0]){
            $('#groups-msg').html("");
        }else{
            $('#groups-msg').html("权限组不能为空！");
        }
        if ($('#gateway').val()[0]){
            $('#gateway-msg').html("");
        }else{
            $('#gateway-msg').html("网关不能为空！");
        }

        if (name_exist_edit){
            $('#name-msg').html("此用户名已存在！");
        }else{
            console.log($('#name').val())
            if ($('#name').val()[0]){
                $('#name-msg').html("");
            }else{
                $('#name-msg').html("用户名不能为空！");
            }
        }

        if ($('#name').val()[0] &&
            $('#role').val()[0] &&
            $('#groups').val()[0] &&
            $('#gateway').val()[0] &&
            name_exist_edit === false
        ){
            $(ths).attr('type', 'submit');
         }


    }



</script>

{% endblock %}

