{% extends 'index.html' %}
{% load staticfiles %}

{% block main_content %}


    <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">删除用户 {{ obj }}</h3>
            <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-xs-12" style="overflow-x: auto">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>名字</th>
                            <th>角色</th>
                            <th>最近登录</th>
                            <th>允许登录</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{ obj.name }}</td>
                                <td>{{ role }}</td>
                                <td>{{ obj.last_login }}</td>
                                <td>
                                    {% if obj.is_active %}
                                        <p style="color: green;">允许</p>
                                    {% else %}
                                        <p style="color: red;">禁止</p>
                                    {% endif %}
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
          <!-- /.box-body -->
          </div>
        <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    </div>
  <!-- /.box -->

    </section>

    <form method="POST">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="确认删除">
        <a class="btn btn-info" href="javascript:history.go(-1);">取消</a>
    </form>

{% endblock %}

{% block script %}
<script>


</script>

{% endblock %}

